# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/

# Django
db.sqlite3
*.log

# VSCode
.vscode/

# Migrations (opcional)
**/migrations/
!**/migrations/__init__.py

# System
.DS_Store
Thumbs.db
